.root {
  text-align: left;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  margin: 0.75em 0;
}

.mediaViewport {
  margin-top: 40px;
}

.image {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.root[data-preserve-media-width] .mediaViewport {
  overflow-x: auto;
}

.root[data-preserve-media-width] .image {
  margin: 0;
  max-width: none;
  width: auto;
}

@media (max-width: 1199px) {
  .description {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .description {
    font-size: 14px;
  }
}