.block-accordion {
	font-size: 20px;
	line-height: 1.5em;
	background-color: #E5E5E5;
}

.block-accordion__intro {
	margin-bottom: 1.75em;
}

.block-accordion__title {
	font-weight: 700;
	font-size: 1.25em;
	font-family: 'Poppins';
}

.block-accordion__item_active {
	background-color: rgb(255,255,255);
}

.block-accordion__item:not(:last-child) {
    margin-bottom: 0.3em;
}

.block-accordion__item:not(.block-accordion__item_active) {
	background-color: rgba(255,255,255,.7);
}

.block-accordion__item-head {
	padding: 1em;
	display: flex;
	cursor: pointer;
	column-gap: 1em;
	position: relative;
	transition: background-color 0.15s ease;
}

.block-accordion__item-head:hover:not(:focus) {
	background-color: #fff;
}

.block-accordion__item-head:after {
    top: 50%;
    right: 2em;
    position: absolute;
    transform: translateY(-50%);
	content: url("data:image/svg+xml,%3Csvg width='17' height='9' viewBox='0 0 17 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8.08074 7L15.1615 1' stroke='%23EC7221' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.block-accordion__item_active .block-accordion__item-head:after {
	transform: translateY(-50%) scaleY(-1);
}

.block-accordion__item-view {
	flex: 0 0 2.5em;
	margin-top: 0.25em;
	align-self: flex-start;
}

.block-accordion__item-image {
	width: auto;
	max-height: 100%;
	transition: transform 0.15s ease;
}

.block-accordion__item-name {
    align-self: center;
	font-family: 'Poppins';
	max-width: calc(100% - 7.5em);
}

.block-accordion__item-body {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    gap: 0.35em 1.5em;
    padding: 1.25em 1em;
    background-color: #fff;
    border-top: 1px solid #dbe0e0;
}

.block-accordion__item:not(.block-accordion__item_active) .block-accordion__item-body {
	display: none;
}

.block-accordion .block-accordion__item-body p {
	margin-top: 0;
	font-size: inherit;
}

.block-accordion__item-body ul {
	list-style-type: disc;
}

.block-accordion__item-body ul,
.block-accordion__item-body ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 20px;
}

.block-accordion__item-body li:not(:last-child) {
    margin-bottom: 0.5em;
}

@media (max-width: 1199px) {
	.block-accordion {
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	.block-accordion__item-body > * {
		flex: 1;
		max-width: 100%;
		min-width: calc(33.33% - 1.5em);
	}
}

@media (max-width: 575px) {
	.block-accordion {
		font-size: 16px;
	}
}