.related-articles {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.25em;
	padding: 1em 0 2.25em;
	font-family: 'Poppins', sans-serif;
}
.related-articles__entry {
	margin-bottom: 1.75em;
}
.related-articles__title {
	font-weight: 700;
	font-size: 1.25em;
}
.related-articles__grid {
	gap: 1.5em;
	display: flex;
	flex-wrap: wrap;
}
.related-articles__item {
	width: calc(33.33333% - 1.5em/3*2);
}
a.related-articles__item-inner {
	display: block;
}
.related-articles__item-inner {
	height: 100%;
}
.related-articles__item-layout {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.related-articles__item-content {
	flex-grow: 1;
	padding: 1.5em;
	background-color: rgb(244, 247, 249);
}
.related-articles__item-title {
	font-size: 0.9em;
	font-weight: 700;
}
.block-articles__item-date {
	font-size: 0.7em;
	color: rgb(170, 170, 170);
}
.related-articles__item-picture {
	overflow: hidden;
	position: relative;
}
.related-articles_carousel-img {
	width: 100%;
}

@media (max-width: 991px) {
	.related-articles__item {
		width: calc(50% - 1.5em/2);
	}
}
@media (max-width: 767px) and (min-width: 576px) {
	.related-articles {
		font-size: 18px;
	}
}
@media (max-width: 575px) {
	.related-articles__item {
		width: 100%;
	}
}