.root {
  background-blend-mode: overlay;
  background-color: #151c2e;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  color: #fff;
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  padding: 5vmin;
}

.layout {
  display: flex;
  gap: 25px 40px;
}

.copy {
  flex: 1;
  min-width: 0;
}

.slotCopy {
  font-family: var(--font-body);
  font-size: inherit;
  font-weight: 400;
  line-height: 1.5;
}

.slotCopy h2 {
  font-family: var(--font-display);
  font-size: inherit;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
}

.slotCopy h2 + * {
  margin-top: 5px;
}

.actionContainer {
  align-self: center;
  flex: 0 1 275px;
}

@media (max-width: 991px) {
  .root {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .layout {
    flex-direction: column;
  }

  .actionContainer {
    align-self: stretch;
    flex-basis: auto;
  }
}

@media (max-width: 575px) {
  .root {
    font-size: 16px;
  }
}