.root {
  color: #111;
  font-family: var(--font-display);
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

@media (max-width: 1199px) {
  .root {
    font-size: 22.5px;
  }
}

@media (max-width: 575px) {
  .root {
    font-size: 20px;
  }
}