.text {
  font-family: var(--font-display);
  font-weight: 600;
}

.text strong {
  color: var(--accent-color);
}

.text br {
  display: none;
}

@media (min-width: 992px) {
  .text br {
    display: inline;
  }
}
